body {
    background-color: #87DCC6;
    display: flex;
    justify-content: center;

}

.userCardContainer{
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-family: 'Dancing+Script', sans-serif;

}

.userCardHeader{
    height: 200px;
    background-image: url("./../imgs/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.userInfoContainer{

}
.userInfoContainer> *{
margin: 0 auto;
}
.profilePicture{
    width: 120px;
    height: 120px;
    border-radius: 60%;
    background-color: blue;
    overflow: hidden;
    margin-top: -60px;
}
.userInfoContainer > h2{
    text-align: center;
     margin-top: 30px;
    color: #808080;
    padding: inherit;
}
.userInfoContainer > h5{
    text-align: center;
    margin-top: 5px;
    color: lightslategray;
    padding: inherit;
}
.userInfoContainer > h6{
    text-align: center;
    margin-top: 5px;
    color: brown;
    padding: inherit;
}
.iconContainer{
    text-align: center;
    display: inline-block;
}
.verticalAlingn + .verticalAlingn{
    margin-left: 20px;
}
.iconContainer{
    vertical-align: middle;
}
.verticalAlingn{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}